<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUser-Modal">
<span class="glyphicon glyphicon-plus"></span>
Add User
</button>

<!-- Modal -->
<div class="modal fade" id="addUser-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Existing User to <span style="font-weight:bold">{{ tenant }}</span></h4>
      </div>
      <form action='/project_space/manage/settings/addUser/{{ tenant }}' method='post'>
        {% csrf_token %}
      <div class="modal-body">
	<div class="input-group-lg">
          <input type="text" placeholder="Name" name="userName" class="text-center">
        </div>
	<div class="input-group-lg">
	  <input type="text" placeholder="Role" name="roleName" class="text-center">
	</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

