<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createVM-Modal">
<span class="glyphicon glyphicon-plus"></span>
Create VM
</button>

<!-- Modal -->
<div class="modal fade" id="createVM-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New VM</h4>
      </div>
      <div class="modal-body">
	  <form action='/project_space/manage/' method='post'>
          {% csrf_token %}
          {{ form }}
          <input type="text" placeholder="Name" name="newVM" class="text-center">
	<div class="dropdown">
          <input name="imageName" class="btn btn-default dropdown-toggle create-option-image" type="text" id="dropdownMenu1" data-toggle="dropdown" placeholder="Select Image"></input>
          <ul class="dropdown-menu option-image" role="menu" aria-labelledby="dropdownMenu1">
	  {% for image in images  %}
            <li role="presentation"><a role="menuitem" tabindex="-1">{{ image.name }}</a></li>
	  {% endfor %}
      	  </ul>
        </div>
        <div class="dropdown">
          <input name="flavorName" class="btn btn-default dropdown-toggle create-option-flavor" type="text" id="dropdownMenu1" data-toggle="dropdown" placeholder="Select Flavor"></input>
          <ul class="dropdown-menu option-flavor" role="menu" aria-labelledby="dropdownMenu1">
          {% for flavor in flavors  %}
            <li role="presentation"><a role="menuitem" tabindex="-1">{{ flavor.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
          <button class="btn btn-primary">Deploy</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

