<!DOCTYPE html>
<html>
  <head>
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
    <title>{% block title %}Home{% endblock %}</title>

    {% block css %}
    {% endblock %}
  
  <script>
    {% block js %}
    {% include "j.js" %}
    {% endblock %}
  </script>

  </head>

{% block body %}
  <body class="container">
{% endblock %}
<!--     {% block navbar %} 
    {% endblock %} -->

    {% block content %}
    {% endblock %}



    <div id="footer">
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    </div>

  </body>
</html>
