<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <ul class="nav navbar-nav">
    	<li><img height="50px" width="50px" src="http://www.bu.edu/hic/files/2014/05/1.jpg" alt="MOC" class="img-responsive"></li>
      <li><a href="http://www.bu.edu/hic/research/massachusetts-open-cloud/">About</a></li>
      <li><a href="http://www.bu.edu/hic/research/massachusetts-open-cloud/news/">Press</a></li>
      <li><a href="http://www.bu.edu/hic/research/massachusetts-open-cloud/job-opportunities/">Contact</a></li>
      <li><a href="http://www.bu.edu/hic/research/massachusetts-open-cloud/faq/">FAQ</a></li>
    </ul>
  
  </div>
</nav>
