{% extends "base.html" %}
 

{% block title %}Login{% endblock %}

{% block content %}
  <h1> Welcome to the {{ OCXlogin }} </h1>

  <input type="text" class="form-control text-center medium" placeholder="Username">
  <input type="text" class="form-control text-center medium" placeholder="Password">
  
  <div class="btn-group pagination-center">
    <a href="../projects" type="button" class="btn btn-default">Login</a>
    <button type="button" class="btn btn-default">Register</button>
    <button type="button" class="btn btn-default">Forgot Password</button>
  </div>
{% endblock %}


