{% extends "base.html" %}
 

{% block title %}Login{% endblock %}

{% block content %}
  <div style="padding-left:300px; padding-right:300px;">
  <h1> Welcome to the {{ OCXlogin }} </h1>

  <form action="/projects/" method="post">
    {% csrf_token %}
    <input name="username" type="text" class="form-control text-center medium" placeholder="Username">
    <input name="password" type="text" class="form-control text-center medium" placeholder="Password">
  <div class="btn-group">
    <button class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Register</button>
    <button type="button" class="btn btn-primary">Forgot Password</button>
  </form>
  </div>
  </div>
{% endblock %}


