{% extends "base.html" %}

{% block title %}Project Management{% endblock %}

{% block content %}

  <div>
    <h1><span style="font-weight:bold">{{ tenant }}</span> Management
    <a href="/project_space/manage/settings" style="float:right; font-size:large" class="btn btn-primary" >
      Project Settings
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    </h1>

   <!-- <div style="font-size:large">
      <span class="label label-success">Storage:</span> EMC, HP <br>
      <span class="label label-info">Compute:</span> BU, HU <br>
      <span class="label label-warning">Network:</span> pubNet1 (public), privNet1 (private) 
    </div> -->

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="">
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
  </div>

<hr>
  <table class="table table-hover table-striped">
    <!-- HARDCODED ROW OF FIELDS -->
    <thead>
      <tr style="font-size:medium; font-weight:bold">
        <th class="col-lg-2">Name</td>
        <th class="col-lg-2">Status</td>
        <th class="col-lg-3">Network</td>
        <th class="col-lg-3">Image</td>
        <th class="col-lg-2">Flavor</td>
      </tr>
    </thead>

    {% for VM in project_VMs %}
      <tr>
        <td>
        <button class="btn btn-md btn-primary editVM" data-toggle="modal" data-target="#editVM-Modal" value="{{ VM.id }}">
        {{ VM.name }}</button>
        </td>
        <td>{{ VM.status }}</td>
        <td>private:
	{% for network in VM.network %}
		{{ network }}; 
	{% endfor %}
	</td>
        <td>{{ VM.image }}</td>
        <td>{{ VM.flavor }}</td>
	<td><a class="novnc btn btn-md btn-success" href="{{VM.vnc}}" target="_blank">VNC</a></td>
	<td><form action='/project_space/manage/delete/{{ VM.name }}' method='get'>
	  <button class="delVM btn btn-danger btn-md">
	  <span class="delVM add-icon glyphicon glyphicon-trash text-center"></span></button>
       </form></td>
      </tr>
    {% endfor %}
  </table>

{% include "createVMModal.html" %}
{% include "editVMModal.html" %}
<script>{% include "manage.js" %}</script>

{% endblock %}
