{% extends "base.html" %}

{% block title %}Project Management{% endblock %}

{% block content %}

  <div>
    <h1>Project1 management
    <a href="/project_space/manage/settings" style="float:right; font-size:large" class="btn btn-primary" >
      Project Settings
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    </h1>

    <div style="font-size:large">
      <span class="label label-success">Storage:</span> EMC, HP <br>
      <span class="label label-info">Compute:</span> BU, HU <br>
      <span class="label label-warning">Network:</span> pubNet1 (public), privNet1 (private) 
    </div>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="">
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
  </div>

<hr>
  <table class="table table-hover table-striped">
    <!-- HARDCODED ROW OF FIELDS -->
    <thead>
      <tr class="col-lg-12" style="font-size:medium; font-weight:bold">
        <td  class="col-lg-1">Name</td>
        <td  class="col-lg-1">Description</td>
        <td  class="col-lg-1">Status</td>
        <td  class="col-lg-1">Image</td>
        <td  class="col-lg-1">Network</td>
      </tr>
    </thead>

    {% for VM in project_VMs %}
      <tr class="col-lg-12">
        <td  class="col-lg-1">
        <span class="btn btn-primary">
        {{ VM.name }}</span>
        </td>
        <td  class="col-lg-1">{{ VM.desc }}</td>
        <td  class="col-lg-1">{{ VM.status }}</td>
        <td  class="col-lg-1">{{ VM.image }}</td>
        <td  class="col-lg-1">{{ VM.network }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
