SHIRAN  

  <!-- HARDCODED ROW OF FIELDS -->
    <thead>
      <tr style="font-size:medium; font-weight:bold">
        <th class="col-lg-2">Name</td>
        <th class="col-lg-2">Status</td>
        <th class="col-lg-3">Network</td>
        <th class="col-lg-3">Image</td>
        <th class="col-lg-2">Flavor</td>
      </tr>
    </thead>

    {% for VM in project_VMs %}
      <tr>
        <td>
        <button class="btn btn-primary editVM" data-toggle="modal" data-target="#editModal" value="{{ VM.id }}">
        {{ VM.name }}</button>
        </td>
        <td>{{ VM.status }}</td>
        <td>private:
	{% for network in VM.network %}
		{{ network }}; 
	{% endfor %}
	</td>
        <td>{{ VM.image }}</td>
        <td>{{ VM.flavor }}</td>
	<td><form action='/project_space/manage/delete/{{ VM.name }}' method='get'>
	  <button class="delVM btn btn-danger btn-lg">
	  <span class="delVM add-icon glyphicon glyphicon-trash text-center"></span></button>
       </form></td>
      </tr>
    {% endfor %}
