<!DOCTYPE html>
<html>
<head>
    {% include "header.html" %}

    <title>{% block title %}Marketplace{% endblock %}</title>
    <style>
    {% block css %}
    {% include "style.css" %}
    {% endblock %}
    </style>
    <script>
    {% block js %}
    {% include "j.js" %}
    {% endblock %}</script>

</head>

<body>



    <h1>
        Welcome to the Marketplace
    </h1>

    <nav class="navbar navbar-default nb" role="navigation">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse nc">
            <ul class="nav nb-nav">
                <li name="service" class="market-nav a"><a href="#services">Services</a></li>
                <li name="appliance" class="market-nav"><a href="#appliances">Appliances</a></li>
                <li name="storage" class="market-nav"><a href="#storage">Storage</a></li>
                <li name="compute" class="market-nav"><a href="#compute">Compute</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>


    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr class="col-lg-12">
                <th class="col-lg-6">NAME</th>
                <th class="col-lg-6">DESCRIPTION</th>
                <th class="col-lg-6">PROVIDER</th>
                <th class="col-lg-6"> </th>
            </tr>
        </thead>
        {% for items in market %}
        {% if items.tag == "service"%}
        <tr class="col-lg-12 service item">
            {% elif items.tag == "appliance"%}
            <tr class="col-lg-12 appliance item">
                {% elif items.tag == "compute"%}
                <tr class="col-lg-12 compute item">
                    {% elif items.tag == "storage"%}
                    <tr class="col-lg-12 storage item">
                        {% endif %}
                        <td class="col-lg-6 ">{{items.name}}</td>
                        <td class="col-lg-6 ">{{items.desc}}</td>
                        <td class="col-lg-6"><img width="50px" height="50px" src="{{items.icon}}"></td>
                        <td class="cart col-lg-6">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="" data-target="">
                                <span class="add-icon glyphicon glyphicon-plus text-center"></span>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                </table>


                <!-- Button trigger modal -->


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Title of Service</h4>
                            </div>
                            <div class="modal-body text-center">
                                <input placeholder="name"></input>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle ddoption-compute" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        Compute
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu option-compute" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Small</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Medium</a></a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Large</a></li>
                                    </ul>
                                </div>

                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle ddoption-storage" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                        Storage
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu option-storage" role="menu" aria-labelledby="dropdownMenu2">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BU-small</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EMC-large</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle ddoption-network" type="button" id="dropdownMenu3" data-toggle="dropdown">
                                        Network
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu option-network" role="menu" aria-labelledby="dropdownMenu3">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Public</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="project-add btn btn-primary">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="footer">
                    {% block footer %}
                    {% include "footer.html" %}
                    {% endblock %}
                </div>
            </body>
            </html>
