{% extends "base.html" %}

{% block content %}
<div style="padding-left:100px; padding-right:100px;">

  <table class="table table-hover">
    <thead>
      <tr style="font-size:medium; font-weight:bold">
        <th class="col-md-4">Name</td>
        <th class="col-md-4">Description</td>
        <th class="col-md-4">ID</td>
      </tr>
    </thead>

    {% for project in user_projects %}
      <tr>
        <td style="font-size:large"><a class="btn btn-primary" href="../project_space/manage">{{ project.name }}</a></td>
        <td>{{ project.desc }}</td>
        <td>{{ project.id }}</td>
      </tr>
    {% endfor %}
  </table>

{% include "create_project.html" %}

</div>
{% endblock %}




