[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0CAcQjRw&url=http%3A%2F%2Fwww.zazzle.com%2Fubuntu%2Blogo%2Bstickers&ei=c-pUVeiLBcOwggTC5oHIBQ&bvm=bv.93112503,d.eXY&psig=AFQjCNFHa9hfkVKppY3gtkUY9k1dSbJpAA&ust=1431714354270359
Type=Link
URL=http://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0CAcQjRw&url=http%3A%2F%2Fwww.zazzle.com%2Fubuntu%2Blogo%2Bstickers&ei=c-pUVeiLBcOwggTC5oHIBQ&bvm=bv.93112503,d.eXY&psig=AFQjCNFHa9hfkVKppY3gtkUY9k1dSbJpAA&ust=1431714354270359
Icon=text-html
