<!-- {{ form_data.title }} Modal -->
<div class="modal fade" id="{{ form_data.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span>
                </button>
                <h2 class="modal-title">{{ form_data.title }}</h2>
            </div>

            <form action="{{ form_data.action }}" method='POST'>
                {% csrf_token %}
                <div class="modal-body form-group">
                    {% for field in form_data.form %}
                    <div class="row">
                        {% if not field.is_hidden %}
                            {{ field.errors }}
                            {{ field.label_tag }} 
                        {% endif  %}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
