{% extends "base.html" %}

{% block title %}{{request.session.user_name}}'s Clouds{% endblock %}

{% block content %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>What is MOC</h1>
                        <p>
                            The Massachusetts Open Cloud (MOC) is a new public cloud, designed and implemented in Massachusetts as the first “Open Cloud eXchange” <a href="http://www.cs.bu.edu/fac/best/res/papers/ic14.pdf">(OCX) </a>— a novel, transformative marketplace model for public cloud offerings. 
                        </p>

                        <p>The OCX marketplace model provides an open and customizable approach to the design and operation of cloud computing that stands in sharp contrast to the closed and prescribed solutions offered by today’s single-provider clouds. 
                        </p>

                        <p>
                        In the MOC, multiple entities engage on a level playing field to provide computing resources and services as well as to add value to offerings by other entities in support of a wide range of data-driven applications.
                        </p>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1>Benefits of using MOC</h1>

                        <h4>Completely Open</h4>
                        <p>
                            The MOC is based on the concept of an Open Cloud eXchange (OCX). In an OCX, multiple vendors, multiple solution providers, and multiple resellers and aggregators of services can all set up shop in the MOC. 
                        </p>

                        <h4>Choosing your hardware provider</h4>
                        <p>
                            Because of this diversity, unlike a closed cloud, customers would not be locked in — they can choose, compare, and switch between different offerings. The MOC, as an open cloud, stands in sharp contrast to the monopoly of closed clouds where choices are limited and competition is almost non-existent. You can use one platform to manage the hardware(datacenter) provided by CISCO or lenovo. 
                        </p>

                        <h4>Leveraging Assets</h4>
                        <p> 
                            In the MOC setting, the owner of a data asset (say the city of Boston) could store its data on storage devices provided by a hardware vendor (say EMC), allowing an entrepreneur (say a student), with a novel idea that leverages this data, to develop an app that can be sold in the App Store. Of course, the entrepreneur will have to pay Dell for using their computers, and will have to pay the city of Boston for the right to access their data; the city of Boston will have to pay EMC for using their storage; and both EMC and Dell will have to pay the data center (say MGHPCC) for the space and power that their devices use. This marketplace where multiple stakeholders can contribute different assets and where these assets are bought and sold is what is unique about the MOC and what stands in sharp contrast to today’s closed clouds stood up by a single provider.
                        </p>

                        <h4>Give users complete control of resource</h4>
                        <p>Current cloud offerings expose a constrained set of resources, e.g., a few differently sized virtual machines via AWS. The MOC”s OCX-based architecture exposes resources from the raw hardware up through application-layer services, providing a richer environment for developers and solution providers. For example, the MOC will provide and expose the capabilities of more diverse hardware, e.g., GPU clusters, HPC machines, gateways to other facilities. Also, it will enable significantly greater control of its services than what is typically possible with commercial providers. For example, the MOC will allow the deployment of experimental or special-purpose hypervisors; it will allow the development and use of different aggregation and pricing mechanisms; and it will allow the development of new services, such as checkpointing and highly-elastic provisioning of services.
                        </p>

                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <h1>News about MOC</h1>

                    <a href="http://techcrunch.com/2014/07/02/massachusetts-open-cloud-project-hopes-to-create-ad-hoc-infrastructure-marketplace/">
                        <h4>July 2, 2014:</h4>
                        <h4>Massachusetts Open Cloud Project Hopes To Create Ad-Hoc Infrastructure Marketplace</h4>
                    </a>

                    <a href="http://masstech.org/press-releases/governor-patrick-announces-funding-launch-massachusetts-open-cloud-project-celebrates">
                        <h4>April 25, 2014:</h4>
                        <h4 >Governor Patrick Announces Funding to Launch Massachusetts Open Cloud Project
Celebrates Release of 2014 Mass Big Data Report
                        </h4>
                    </a>
                    


                        <p>

                        </p>
                    </div>
                </div>



                 <div class="row">
                    <div class="col-lg-12">
                        <h1>Collaborators</h1>
                        <p>
                            Boston University , Hardvard  University, Massachusetts Institute of Technology, University of Massachusetts, Northeastern University, Intel, Redhat, lenovo, FUJITSU, Mellanox Technology, Cisco, Two Sigma, Juniper Networks, SGI, Brocade, MathWorks, DataDirect Networks, EnterpriseDB, riverbed, Plexxi 
                        </p>
                    </div>
                </div>


            </div>
        </div>

  

</div>
{% endblock %}

