<!DOCTYPE html>
<html>
  <head>
    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <title>{% block title %}Home{% endblock %}</title>

    {% block css %}
      <style>
        {% include "moc_ui.css" %}
      </style>
    {% endblock %}
  
  <script>
    {% block js %}
    {% include "j.js" %}
    {% endblock %}
  </script>

  </head>

{% block body %}
  <body background="/static/coloring_flowers.jpg" class= "container">
{% endblock %}

<!--     {% block navbar %} 
    {% endblock %} -->

    {% block content %}
    {% endblock %}



    <div id="footer">
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    </div>

  </body>
</html>
