<!-- Modal -->
<div class="modal fade" id="editVM-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
        <h4 class="modal-title editVM-name" style="font-weight:bold" id="myModalLabel">Manage VM</h4>
      </div>
      <div class="modal-body">
	  <form action='/project_space/manage/edit' method='post'>
          {% csrf_token %}
          {{ form }}
	<input name="VM_id" class="editVM-id" type="hidden"></input>
	<input name="flavor_id" class="editFlavor-id" type="hidden" value='-1'></input>
	Resize to:
        <div class="dropdown">
          <input name="flavorName" class="btn btn-default dropdown-toggle edit-option-flavor" type="text" id="dropdownMenu1" data-toggle="dropdown" placeholder="Select Flavor"></input>
          <ul class="dropdown-menu edit-dropdown option-flavor" role="menu" aria-labelledby="dropdownMenu1">
          {% for flavor in flavors  %}
            <li role="presentation"><a class="chosenFlavor" role="menuitem" tabindex="-1" data-id="{{ flavor.id }}">{{ flavor.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
          <button class="btn btn-primary">Deploy</button>
        </form>
      </div>
      <div class="modal-footer">
	<form action='/project_space/manage/edit/controlVM' method='post'>
	  {% csrf_token %}
          {{ form }}
	  <input name="VM_id" class="editVM-id" type="hidden"></input>
	  <input name="action" type="hidden" value="start"></input>
          <button class="btn btn-success"><span class="glyphicon glyphicon-play text-center"></span></button></form>
	<form action='/project_space/manage/edit/controlVM' method='post'>
	  {% csrf_token %}
          {{ form }}
	  <input name="VM_id" class="editVM-id" type="hidden"></input>
	  <input name="action" type="hidden" value="pause"></input>
          <button class="btn btn-warning"><span class="glyphicon glyphicon-pause text-center"></span></button></form>
	<form action='/project_space/manage/edit/controlVM' method='post'>
	  {% csrf_token %}
          {{ form }}
	  <input name="VM_id" class="editVM-id" type="hidden"></input>
	  <input name="action" type="hidden" value="stop"></input>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-stop text-center"></span></button></form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

