<form class="col-md-4 col-centered form-inline" action="{{ form_data.action }}" method="{{ form_data.method }}">
    {% csrf_token %}
    {% for field in form %}
    <div class="row form-group">
        {{ field.errors }}
        {{ field }}
    </div>
    {% endfor %}

    <p>
        
    <div class="row btn-group" role="group">
    {% for button in form_data.button_list %}
      {% if button.type != 'modal' %}
        <button type='{{ button.type }}' class="btn btn-large {{ button.class }}" action="{{ button.action }}">{{ button.name }}</button>
      {% else %}
        <button type='button'data-toggle="modal" data-target="{{ button.data_target }}" class="btn btn-large {{ button.class }}">
        {{ button.name }}</button>
      {% endif %}
    {% endfor %}
    </div>
</form>
