{% extends "base.html" %}
 
{% block header %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block content %}

  <!-- login form -->
  <div class = "floating-block">
  {% with login_data as form_data and login_form as form %}
      {% include "form.html" %}
  {% endwith %}
  </div>
  
  <!-- modal pop-ups for buttons -->
  {% with reg_modal as modal_data and reg_form as form %}
      {% include "modal.html" %}
  {% endwith %}

{% endblock %}

