{% extends "base.html" %}
 
{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}Welcome!{% endblock %}

{% block content %}

  <!-- login form -->
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-5 col-centered">
            <div class = "floating-block">
                <h3 class="text-center">{{ login_data.name }}</h3>
                {% with login_data as form_data and login_form as form %}
                    {% include "form.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
  
    <!-- modal pop-ups for buttons -->
    {% with reg_modal as modal_data and reg_form as form %}
        {% include "modal.html" %}
    {% endwith %}
</div>

{% endblock %}
<!--
    <div class = "col-sm-4-center col-md-4-center col-lg-4-center floating-block">
-->
