<nav class="navbar navbar-default navbar-fixed-top floating-block" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/clouds">OCX</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/clouds">Cloud</a></li>
      </ul>
      <div class="dropdown navbar-right">
        <button class="btn glyphicon glyphicon-user" style="font-size:1.5em" id="userProfile" data-toggle="dropdown" aria-expanded="true">
        {{ request.session.user_name }}
        </button>
        <ul class="dropdown-menu navbar-right" role="menu" aria-labelledby="userProfile">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Change Password</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
