<!DOCTYPE html>
{% extends "base.html" %}
    {% load staticfiles %}

    {% block title %}Marketplace{% endblock %}

{% block content %}
<div class="row vert-padded"></div>

<div class="container-fluid">
    <div class="col-md-8 col-centered">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default floating-block">

                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <h2 class="col-md-6 pull-left">  {{request.session.username}}'s <small>market</small></h2>
                            <div class="col-md-4 btn-group pull-right" role="group">
                                 <div class="sidebar-form">
                                        <form class="form-inline">
                                            <div class="input-group">
                                                <input class="form-control" placeholder="Search the Market">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-primary" aria-label:"leftalign">
                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>              
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" style="padding: 0px">
                            <div class="sidebar">
                                <ul class="sidebar-nav">              
                                    <li><h3><a href = '#all'>All</a></h3></li>
                                    <br>
                                    <li><a href = '#apps'>Apps</a></li>
                                    <li><a href = '#compute'>Compute</a></li>
                                    <li><a href = '#network'>Network</a></li>
                                    <li><a href = '#service'>Service</a></li>
                                    <li><a href = '#storage'>Storage</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 content">                      
                            <div class="row">
                            	{% for market in market_list %}
                                <div class="col-md-4 grid-item">
                                <br>                                 
                                    <div class="image"></div>
                                    <p>{{market.name}}</p>	
                                    <h3><a href = ""><img src={{market.img_url}} alt="Hadoop" style="width:100px;height:100px"></a></h3>                                  
                                    <div class="dropdown">
	                                    <div class="btn-group" role="group">
	                                        <button type="button" class="btn btn-default btn-success glyphicon glyphicon-plus" aria-label:"leftalign">
	                                            <!-- <span class = "glyphicon glyphicon-plus"  id="dropdownMenu1" aria-hidden="true"></span> -->
	                                        </button>
	                                        <button type="button" class="btn btn-default btn-warning glyphicon glyphicon-star" aria-label:"leftalign">
	                                            <!-- <span class = "glyphicon glyphicon-star" id="dropdownMenu2" aria-hidden="true"></span> -->
	                                        </button>
	                                        <button  type="button" class="btn btn-primary dropdown-toggle glyphicon glyphicon-info-sign" data-toggle="dropdown" aria-hidden="false" >
	                                            <!-- <span class="caret glyphicon glyphicon-info-sign" id="dropdownMenu3" aria-hidden="true"></span>	 -->
                                                <span class="caret"></span>
                                                <!-- <span class="sr-only"></span> -->
	                                        </button>
                                            <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                          </ul>            
	                                    </div>
                                   	</div>
                                </div>
                        		{% endfor %}
                        </div>
                    </div>
                </div>    
                <div class="panel-footer">
                </div>
            </div>
            
        </div>
    </div>


</div>
{% endblock %}
    
