* { box-sizing:border-box; }

/*http://drbl.in/nYHu*/

/*
Author : Himateja
Editor : Codepen
Permissions : Open Source
*/

*,
*:after,
*:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body 
{
  position: absolute;
  height: 100%;
  width: 100%;
  color: rgba(0,0,0,0.6);
  font-family: RobotoDraft,Roboto;
  background: url('/static/p2.jpg') no-repeat 50% 0% fixed;
  background-size: 100%; 
  background: url('/static/p2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;  
  background-size: cover;  
  -ms-
}

body header {
  position: relative;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  background: rgb(3, 169, 245);
  font-size: 30px;
  font-weight: 300;
  color: rgb(242, 251, 253);
  text-align: center;
  line-height: 75px;
}

.login {
  opacity: 0.8;
  position: absolute;
  padding: 10px;
  left: calc(50% - 200px);
  top: calc(50% - 13em);
  width: 400px;
  height: 360px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.26);
  overflow: hidden;
}


.loginTitle {
  position: relative;
  left: calc(50% - 50px);
}


.loginTitle2 {
  position: relative;
  left: calc(50% - 128px);
}


.login > i {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}


.login > span {
  display: block;
  text-align: center;
  margin: -15px 0;
  font-size: 15px;
}

form {
  position: relative;
  width: 350px;
  margin: 50px 15px;
}

.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}

.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.15);
}

.form-control:focus {
  border-bottom: 2px solid rgb(3, 169, 245);
  outline: none;
  box-shadow: none;
}

.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}

.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.float-label {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 16px;
  color: #999;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -15px;
  font-size: 12px;
}

.form-group erroru, .form-group errorp {
  position: absolute;
  width: 100%;
  left: 0;
  top: 38px;
  font-size: 11px;
  color: #d34336;
  font-weight: 300;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
  -moz-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all;
  opacity: 0;
}

.form-group erroru i,.form-group errorp i {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
}

.form-group erroru i svg, .form-group errorp i svg {
  fill:#d34336;
}

.form-group[errr] .float-label {
  color: #d34336 !important;
}

.form-group[errr] .form-control {
  border-bottom: 1px solid #d34336 !important;  
}

.form-group[errr] .form-control:focus {
  border-bottom: 2px solid #d34336 !important;  
}


.form-group[errr] erroru, .form-group[errr] errorp  {
  opacity: 1;
}

input[type=checkbox]
{
    display: none;
    visibility: hidden;
}

input[type="checkbox"] + label
{
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input[type="checkbox"] + label:before
{
    display: inline-block;
    content: "";
    margin: 0 15px 3px 0px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
    vertical-align: middle;
}

input[type=checkbox]:checked + label:before
{
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
    background-color: rgb(3, 169, 245);
    border-color: rgb(3, 169, 245);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 11px auto;
    -moz-background-size: 11px auto;
    -o-background-size: 11px auto;
    background-size: 11px auto;
}

button[type="submit"] {
  position: relative;
  float: right;
  font-family: inherit;
  font-weight: 100;
  font-size: 15px;
  border: 0;
  margin: -3px 4px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(3, 169, 245);
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

button[type="submit2"] {
  position: relative;
  float: right;
  font-family: inherit;
  font-weight: 100;
  font-size: 15px;
  border: 0;
  margin: -3px 4px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  background: purple;
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

button[type="submit"]:focus {
  outline: none;
}




/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to { width:0; background:transparent; }
}

@-webkit-keyframes user-head {
100% {
  -webkit-transform:scale(1);
  transform:scale(1);
  -moz-transform:scale(1);
} }
@-moz-keyframes user-head {
100% {
  -webkit-transform:scale(1);
  transform:scale(1);
  -moz-transform:scale(1);
} }
@keyframes user-head {
100% {
  -webkit-transform:scale(1);
  transform:scale(1);
  -moz-transform:scale(1);
} }

@-webkit-keyframes user-body {
100% {
  -webkit-transform:translateY(2px);
  transform:translateY(2px);
  -moz-transform:translateY(2px);
} }
@-moz-keyframes user-body {
100% {
  -webkit-transform:translateY(2px);
  transform:translateY(2px);
  -moz-transform:translateY(2px);
} }
@keyframes user-body {
100% {
  -webkit-transform:translateY(2px);
  transform:translateY(2px);
  -moz-transform:translateY(2px);
} }

[ripple] {
  position: relative;
  overflow: hidden;
  -webkit-transition: box-shadow .4s;
  -moz-transition: box-shadow .4s;
  -ms-transition: box-shadow .4s;
  -o-transition: box-shadow .4s;
  transition: box-shadow .4s;
  cursor: inherit;
}

[ripple] .touch {
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  border-radius: 100%;
}