{% extends "base.html" %}

{% block title %}{{request.session.user_name}}'s Network{% endblock %}

{% block content %}
{% for project in project %}
<div class="row vert-padded"></div>

<div class="container-fluid">
    <div class="col-md-10 col-centered">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default floating-block">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <h2 class="col-md-7 pull-left">  {{request.session.user_name}}'s <small>network</small></h2>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    
                </div>
            
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

